{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% block body_class %}{{ self.title }}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="my-3">{{ page.title }}</h1>
        <div class="equipment-block">
            {% for block in page.body %}
                {% if forloop.first %}<div class="card-deck my-3">{% endif %} 
                        {% include_block block %}
                    </div>
                {% if forloop.counter|divisibleby:3 %}</div><div class="card-deck my-3">{% endif %}
                {% if forloop.last %}</div>{% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}