{% load flinthillsparanormal_tags staticfiles static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title == 'Home' %}Flint Hills Paranormal{% else %}{{ self.seo_title }} | Flint Hills Paranormal{% endif %}{% endblock %}</title>
        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

        {# Global stylesheets #}
        <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:600|Lato" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/flinthillsparanormal.min.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        <header role="banner">
            {% block menu %}
                {% get_site_root as site_root %}
                {% top_menu parent=site_root calling_page=self %}
            {% endblock %}
        </header>
    
        <main role="main">
            {% block content %}{% endblock %}
        </main>

        <footer class="my-4" role="contentinfo">
            <div class="container py-2">
                <div class="row footer-text">
                    <div class="col-12 col-md-5 heart-rate">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150px" height="73px" viewBox="0 0 150 73" enable-background="new 0 0 150 73" xml:space="preserve">
                            <polyline fill="none" stroke="#009B9E" stroke-width="3" stroke-miterlimit="10" points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"/>
                        </svg>
                        <div class="fade-in"></div>
                        <div class="fade-out"></div>
                    </div>
                    <div class="col-md-1 text-center">
                        <p><a target="_blank" href="https://www.facebook.com/flinthillsparanormal"><i class="fab fa-3x fa-facebook-f" aria-hidden="true"></i><span class="sr-only">Facebook</span></a></p>
                    </div>
                    <div class="col-md-6 contact-info">
                        <p><i class="material-icons md-18">smartphone</i><a href="tel:+13163935246">+(1) 316 393-5246</a> <i class="material-icons md-18">email</i><a href="mailto:flinthillsparanormal@gmail.com"> flinthillsparanormal@gmail.com</a></p>
                        <p><span class="copyright">&copy;</span> Copyright {% now "Y" %} Flint Hills Paranormal</p>
                        <p>A <a style="color: #a43f33;" target="_blank" href="https://fourfridays.com"><img class="img-fluid" src="{% static 'images/fourfridays-wordmark-red-transparent.png' %}" alt="fourfridays beta" width="140px" /></a> website.</p>
                    </div>
                </div>
            </div>
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/flinthillsparanormal.min.js' %}" async></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-105790467-1', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>
