{% load wagtailcore_tags wagtailimages_tags %}


<div class="row mb-4">
    <div class="col-md-4">
        {% image value.image width-273 height-440 as theimage %}
        <img class="img-fluid thumbnail" src="{{ theimage.url }}" width="{{ theimage.width }}" height="{{ theimage.height }}" alt="{{ theimage.alt }}" />
    </div>
    <div class="col-md-8">
        <h5>{% include_block value.title %}</h5>
        <p>{% include_block value.bio %}</p>
    </div>
</div>