{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="my-4">News Articles</h1>
            </div>
        </div>
        {% for article in blogs %}
            {% if forloop.first %}<div class='row'>{% endif %} 
                <div class="col-md-4">
                    <article class="my-3 news-index">
                        <h2 class="my-2">
                            <a href="{{ article.slug }}">{{ article.title }}</a>
                        </h2>
                        <p class="small">
                            Posted by {{ article.author.first_name }} {{ article.author.last_name }} on {{ article.date }}        
                            {% if article.categories.all %}
                                in 
                                {% for cat in article.categories.all %}
                                    <span style="text-transform: lowercase;">{{ cat.category.name }}</span> {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </p>
                        <p class="text-center"><a class="btn btn-primary btn-sm" href="{{ article.slug }}">Read Article</a></p>
                    </article>
                </div>
            {% if forloop.counter|divisibleby:3 %}</div><div class='row'>{% endif %}
            {% if forloop.last %}</div>{% endif %}
            {% empty %} No News Stories yet!
        {% endfor %}
    </div>
{% endblock %}