{% load wagtailcore_tags static %}

<div class="article">
    <h1 class="mt-4">{{ blog.title }}</h1>
    
    <p class="small text-muted">
        Posted by {{ blog.author.first_name }} {{ blog.author.last_name }} on {{ blog.date }}        
        {% if blog.categories.all %}
            in 
            {% for cat in blog.categories.all %}
                <span style="text-transform: lowercase;">{{ cat.category.name }}</span> {% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
    </p>

    <hr style="margin-top: 0;">

    {% include "includes/streamfield.html" with content=blog.body %}

    {% if blog.tags.all %}
        <hr style="margin-top: 0; margin-bottom: 10px; clear: both;">

        <div class="my-2 small .text-muted">    
            <i class="fa fa-tags" aria-hidden="true"></i>
            {% for tag in blog.tags.all %}
                {{ tag }}{% if not forloop.last %}, {% endif %}
            {% endfor %}        
        </div>
    {% endif %}
</div>

<hr/>

<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

    var disqus_config = function () {
        this.page.url = "{{ page.get_site.root_url }}{{ blog.url }}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{ blog.slug }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://flint-hills-paranormal.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            