{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-11">
               {% include "blog/blog_post.html" with blog=self %}
            </div>
            <div class="col-md-1">
            </div>
       </div>
   </div>
{% endblock %}