{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% block body_class %}{{ self.title }}{% endblock %}

{% block content %}
    <div class="container my-4">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ page.title }}</h1>

                {{ page.intro|richtext }}

                <form class="mx-4 demo" action="{% pageurl page %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="demo-submission" type="submit" value="Submit Form">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
