{% load static flinthillsparanormal_tags wagtailcore_tags %}
{% get_site_root as site_root %}


<nav class="navbar navbar-expand-md bg-light" role="navigation">
    <a class="navbar-brand" href="/">
        <img class="img-fluid" alt="Flint Hills Paranormal" src="{%static 'images/fhp-logo-modified.original.png' %}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="material-icons">menu</i>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for menuitem in menuitems %}
                <li class="nav-item dropdown{% if menuitem.active %} active{% endif %}">
                    {% if menuitem.show_dropdown %}
                        <a class="nav-link dropdown-toggle" href="{{ menuitem.url }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menuitem.title }}</a>
                        {% top_menu_children parent=menuitem %}
                    {% else %}
                        <a class="nav-link" href="{% pageurl menuitem %}">{{ menuitem.title }} <span class="sr-only">(current)</span></a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
