@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/lightbox2/dist/css/lightbox';

$primary: rgba(189, 60, 78, 1);
$secondary: rgba(238, 238, 238, 1);


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/MaterialIcons-Regular.eot"); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url("../fonts/MaterialIcons-Regular.woff2") format('woff2'),
    url("../fonts/MaterialIcons-Regular.woff") format('woff'),
    url("../fonts/MaterialIcons-Regular.ttf") format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #BD3C4E;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-72 { font-size: 72px; }
.material-icons.md-84 { font-size: 84px; }
.material-icons.md-96 { font-size: 96px; }
.material-icons.md-108 { font-size: 108px; }
.material-icons.md-120 { font-size: 120px; }

.svg-inline--fa {
    color: #BD3C4E;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #1D1D1D;
    color: $secondary;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond', serif;
    color: $primary;
}
h1 {
    text-transform: uppercase;
}
p {
    font-size: 0.95rem;
}
a {
    color: $primary;
    &:active, &:focus {
        outline: none;
    }
    &:hover {
        color: $secondary;
    }
}

.btn-primary {
    background-color: $primary;
    border-color: $secondary;
    &:hover {
        background-color: $secondary;
        border-color: $primary;
        color: #000;
    }
}

.assistive-text { /*For accessibility to skip navigation*/
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.btn-label { /*To hide empty links on social media links*/
    font-size: 0;
    height: 1px;
    overflow: hidden;
}


/*Extends images entered via rich text as fluid for mobile responsiveness*/
.richtext-image {
    @extend .img-fluid;
}

.responsive-object {
    display: block;
    padding: 0;
    height: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s; 
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* ==========================================================================
  HEADER
   ========================================================================== */
header {
    nav {
        z-index: 1;
        &.navbar {
            padding: 0rem 1.5rem;
        }
        &.bg-light{
            background-color: #1D1D1D !important;
            border-bottom: 1px solid $primary;
        }
        ul {
            &.navbar-nav {
                a {
                    &.dropdown-item {
                        &:hover, &.active {
                            color: #000;
                        }
                    }
                    font-size: 0.8em;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: #BD3C4E;
                    &:hover, &.active {
                        color: #eee;
                    }
                }
            }
            &.social-media {
                flex-direction: row;
                display: flex;
                margin-top: 0;
                padding: 0;
                margin-bottom: 0;
                font-size: 1.3em;
            }
            li {
                float: left;
                list-style: none;
            }
        }
    }
}

/* ==========================================================================
  CONTENT
   ========================================================================== */

/* Blocks */
.block-four_columns {
    h2, h3, h4 {
        margin-top: 0;
    }    
    .rich-text {
        p {
            font-size: 1.04em;
        }
    }
    .icon {
        position: relative;
        left: -10px;
    }
}


/* Home */
.flinthillsparanormal h3 {
    padding: 8px;
    background-color: $secondary;
}


/* Hero Images */
.block-hero_image figure.overlay {
    position: relative; 
    width: 100%; /* for IE 6 */
    figcaption {
        max-width: 45%;
        background-color: rgba($primary, 0.8);
        position: absolute;
        top: 55%;
        left: 10%;  
        transform: translate(-10%, -65%);
        padding: 10px; 
        h2 {
            color: #f0f0f0;
            font-size: 2.2em;
            margin-bottom: 0;
            text-transform: uppercase;
        }
        p.fine-print {
            color: #ffffff;
        }
    }
    .photo-credit {
        position: absolute; /* absolute position (so we can position it where we want)*/
        bottom: 0; /* position will be on bottom */
        width: auto;
        right: 0;
        padding: 4px;
        background-color: #000;
        color: #fff;
        opacity: 0.5; /* transparency */
        filter: alpha(opacity=50); /* IE transparency */
    }
}


/* News */
article.news-index{
    h2 {
        padding: 8px;
        background-color: $secondary;
        a:hover {
            color: #000;
            text-decoration: none;
        }
    }
}


/* Equipment */
.card-deck .card {
    flex: none;
}


/* Heart Rate */
.heart-rate {
  width: 150px;
  height: 73px;
  position: relative;
}

.fade-in {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1D1D1D;
  top: 0;
  right: 0;
  animation: heartRateIn 2.5s linear infinite;
}

.fade-out {
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  left: -120%;
  animation: heartRateOut 2.5s linear infinite;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(29, 29, 29, 1) 0%, rgba(29, 29, 29, 1) 80%, rgba(29, 29, 29, 0) 100%);
}

@keyframes heartRateIn {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes heartRateOut {
  0% {
    left: -120%;
  }
  30% {
    left: -120%;
  }
  100% {
    left: 0;
  }
}


/* ==========================================================================
    FORMS
   ========================================================================== */
form {
    p {
        @extend .form-group, .row;
        span.helptext {
            @extend .small;
        }
        textarea {
            @extend .form-control;
            &[required=""]:focus {
                border-color: $primary;
                box-shadow: 0 1px 1px rgba(164, 63, 51, 0.2) inset, 0 0 8px rgba(164, 63, 51, 0.8);
            }
        }
    }
    input {
        &[type="text"], &[type="email"] {
            @extend .form-control;
            background-color: $secondary;
        }
        &[required=""]:focus {
            border-color: $primary;
            box-shadow: 0 1px 1px rgba(164, 63, 51, 0.2) inset, 0 0 8px rgba(164, 63, 51, 0.8);
        }

        &[type="submit"] {
            @extend .btn, .btn-primary;
        }
    }
}

/* ==========================================================================
    FOOTER
   ========================================================================== */
footer {
    border-top: 1px solid $primary;
    .contact-info {
        text-align: right;
        a {
            &:hover {
                color: $secondary;
            }
        }
    }
    .footer-text p {
        font-size: 0.8rem;
        color: rgba(189, 189, 189, 1.0);
        margin-bottom: 0.3rem;
    }
    i {
        position: relative;
        top: 4px;
    }
    a {
        color: rgba(189, 189, 189,1.0);
    }
    span.copyright {
        color: $primary;
    }
}


/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* Large desktop */
@media (min-width: 1200px) {  }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
/* ==========================================================================
    NAVIGATION
   ========================================================================== */
    header nav ul.navbar-nav a {
        font-size: 0.7rem;
   }
/* ==========================================================================
    AUDIO CONTROLS
   ========================================================================== */
    audio {
        width: 120px;
   }
/* ==========================================================================
    FOOTER
   ========================================================================== */
   footer {
        .footer-text p {
            font-size: 0.67rem;
        }
    }
}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.65rem;
    }
    h3 {
        font-size: 1.35rem;
    }
/* ==========================================================================
    HERO IMAGE
   ========================================================================== */
    .block-hero_image figure.overlay {
        figcaption {
            padding: 6px; 
            h2 {
                font-size: 1.2em;
            }
            p.fine-print {
                font-size: 0.6em;
            }
        }
        .photo-credit {
            font-size: 95%;
        }
    }
/* ==========================================================================
    NAVIGATION
   ========================================================================== */
    header nav ul.navbar-nav a {
        font-size: 0.67rem;
   }
/* ==========================================================================
    CONTACT PAGE
   ========================================================================== */
    body.contact {
        text-align: center;
        h2 {
            font-size: 1.3rem;
        }
    }
/* ==========================================================================
    TABLE
   ========================================================================== */
    table td {
        font-size: 0.67rem;
   }
/* ==========================================================================
    FOOTER
   ========================================================================== */
    footer {
        .col-md-6, .contact-info {
            text-align: center;
        }
        .heart-rate {
            margin: 0 auto;
            text-align: center;
        }
        .footer-text p {
            font-size: 0.67rem;
        }
    }
}


/* Landscape phones and down */
@media (max-width: 480px) { 
/* ==========================================================================
    HERO IMAGES
   ========================================================================== */
    .block-hero_image figure.overlay {
        figcaption {
            max-width: 55%;
            h2 {
                font-size: 0.9em;
            }
        }
        .photo-credit {
            font-size: 65%;
            padding: 3px;
        }
    }
}